{% extends 'auth_user/main_page.html' %}
{% block article %}

<article class="main">

<p> ALL PRODUCTS </p>
    <table class="sortable" border="1" style="width:100%">
 <tr>
        <th scope="col">category</th>
        <th scope="col">brand_name</th>
        <th scope="col">model</th>
        <th scope="col">amount</th>
        <th scope="col">DETAIL INFO</th>
    </tr>
    {% for object in products %}
        <tr>
        <td>{{ object.category }}</td>
        <td>{{ object.brand_name }}</td>
        <td>{{ object.model }}</td>
        <td>{{ object.count }}</td>
        <td><a name="link" href="{% url 'detail-product' object.id %}" >DETAIL INFO</a></td>
    {% empty %}
        <td>No objects yet.</td>
    {% endfor %}
    </tr>
    </table>
</article>

{% endblock %}